body {
    font: normal 12px/160% Verdana, Arial, Helvetica, sans-serif;
    background-color: #192028 !important;
}

input {
    border-bottom: 0;
}

.form-control,
textarea,
select,
select option,
option,
selector,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input {
    background-color: #0F171E !important;
    color: #d0d0d0;
}

textarea:focus,
select:focus,
selector:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input:focus {
    box-shadow: none !important;
}

.centering {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
}

.subtext {
    color: dimgrey;
}

.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    width: 100%;
    font-size: 2em;
}

h3 {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

.compact {
    margin-top: 0;
    margin-bottom: 0;
}

.clickable {
    cursor: pointer;
}

.wrapper {
    padding-top: 10px;
    min-width: 20em;
}

#footer, .infoText {
    color: dimgrey;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
}

.inputDisplay {
    text-align: center;
    border-radius: 0;
    font-size: 1.5em;
}

.bottomConnected {
    border-top: solid 1px #2F373E;
    border-left: solid 1px #2F373E;
    border-right: solid 1px #2F373E;
    border-radius: 3px 3px 0 0;
}

.topConnected {
    border-bottom: solid 1px #2F373E;
    border-left: solid 1px #2F373E;
    border-right: solid 1px #2F373E;
    border-radius: 0 0 3px 3px;
}

.localizationSelect {
    width: 100%;
    text-align: center;
    text-align-last: center;
}

option, select, select:hover |option:hover {
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input[type="number"]:hover, input[type="text"]:hover, option:hover, select:hover {
    border: solid 1px #f0ad4e;
}

.mini-converter-add {
    height: 22px;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    margin-top: 10px;
}

.mini-converter-field {
    height: 20px;
    width: 100%;
    border: solid 1px transparent;
    border-bottom: solid 1px #3F474E;
}

.mini-converter-col {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

input[type="number"] {
    text-align: right;
}

input[type="number"]:hover, input[type="text"]:hover, option:hover, select:hover {
    border: solid 1px #f0ad4e;
    background-color: #2F373E !important;
}

.delete-focus {
    border: solid 1px red !important;
}

.vertical, .horizontal {
    background-color: red;
    transform: rotate(45deg)
}

.circle {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
}

.horizontal {
    margin-top: 8px;
    position: absolute;
    width: 20px;
    height: 4px;
}

.vertical {
    margin-left: 8px;
    position: absolute;
    height: 20px;
    width: 4px;
}