body {
    font: normal 12px/160% Verdana, Arial, Helvetica, sans-serif;
}

option {
    text-align: center;
}

.form-control,
textarea,
select,
select option,
option,
selector,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input {
    background-color: #0C131B !important;
    color: #d0d0d0;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
}

textarea:focus,
select:focus,
selector:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input:focus {
    box-shadow: none !important;
}

h1, h2, h3 {
    line-height: 1.1;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 20px;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

.centering {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
}

.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}

.row {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0C131B !important;
}

.setting-wrap {
    background-color: #1F272E;
    border-radius: 5px;
    border: 1px solid #3F474E;
}

.infoText, label {
    font-size: 10px;
    color: grey;
}