body {
    font: normal 12px/160% Verdana, Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

.setting-tab {
    max-width: 70em;
    min-width: 20em;
    border-bottom: 1px solid #3F474E;
    padding: 0 0 20px;
}

.setting-wrap {
    background-color: #1F272E;
    border-radius: 5px;
    border: 1px solid #3F474E;
}

.setting-tab-no-padding {
    padding: 0;
}

.row {
    margin: 0;
}

.blacklist {
    padding-left: 20px;
    padding-right: 20px;
}

.centering {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
}

.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

.number, .example {
    text-align: right;
}

select, input {
    border: 1px solid green;
}

select:focus, input:focus {
    border: 1px solid #f0ad4e;
}

h1 {
    text-align: center;
    width: 100%;
    padding-top: 35px;
    line-height: 2.5em;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    width: 100%;
    line-height: 1em;
    font-size: 2.25em;
    padding-top: 35px;
    margin: 0;
    padding-bottom: 35px;
    left: 40px;
}

h3 {
    text-align: center;
    width: 100%;
    line-height: 1em;
    font-size: 2em;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 0;
}

h2:hover, h3:hover {
    background-color: #2F373E;
}

#footer, .infoText {
    color: dimgrey;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
}

.form-control {
    webkit-box-shadow: initial;
    box-shadow: initial;
}

.custom-check {
    width: 40px;
    height: 40px;
}


.opened, .closed {
    margin-left: 23px;
}
.closed .horizontal {
    opacity: 1;
}

.closed .vertical, .closed .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    background-color: green;
}

.opened {
    opacity: 1;
}

.opened .horizontal {
    opacity: 0;
}

.opened .vertical, .opened .horizontal {
    background-color: red;
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}

.circle-plus {
    font-size: 1em;
    opacity: .7;
}

.circle-plus .circle {
    position: relative;
    width: 51px;
    height: 51px;
    margin-top: -12px;
    border-radius: 100%;
    border: solid 2px #DFDAD7;
}

.circle-plus .circle .horizontal {
    position: absolute;
    width: 30px;
    height: 5px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -2.5px;
}

.circle-plus .circle .vertical {
    position: absolute;
    width: 5px;
    height: 30px;
    left: 50%;
    margin-left: -2.5px;
    top: 50%;
    margin-top: -15px;
}

