.uacc-clickable {
    cursor: pointer;
}

.uacc-line {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.uacc-highlighted {
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
}

.uacc-alertWrapper {
    opacity: 0;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    line-height: 1.1;
    padding: 5px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    z-index: 1000;
    right: 0;
    bottom: 0;
    position: fixed;
    transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
}

.uacc-fastRemove {
    transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
}

.uacc-hiddenHighlight {
    background-color: transparent;
}

.uacc-popup {
    position: absolute;
    width: 60%;
    height: 10%;
    left: 20%;
    top: 90%;
    background-color: #0F171E;
    color: #d0d0d0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.uacc-buttonFiller {
    height: 5px;
    width: 2%;
    float: left;
}

.uacc-saveAndDismissLocalizationButton, .uacc-dismissLocalizationButton, .uacc-saveLocalizationButton, .uacc-revertLocalizationButton {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
    color: #efefef;
    border-radius: 5px;
}

.uacc-disabledLocalizationButton {
    background-color: grey;
    border-color: grey;
}

.uacc-saveAndDismissLocalizationButton {
    margin-top: 5px;
    background-color: #204d74;
    border-color: #204d74;
}

.uacc-saveAndDismissLocalizationButton:hover {
    background-color: #103d64;
}

.uacc-dismissLocalizationButton {
    margin-top: 5px;
    background-color: #6c757d;
    border-color: #6c757d;
}

.uacc-dismissLocalizationButton:hover {
    background-color: #5c656d;
}

.uacc-saveLocalizationButton {
    background-color: #bc1525;
    border-color: #bc1525;
}

.uacc-saveLocalizationButton:hover {
    background-color: #ac0515;
}

.uacc-revertLocalizationButton {
    background-color: #28a745;
    border-color: #28a745;
}

.uacc-revertLocalizationButton:hover {
    background-color: #189735;
}

.uacc-radiobox {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
}

.uacc-radiobox div {
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #204d74;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
}

.checked div {
     opacity: 1;
 }