UaccDiv {
    display: block;
}

.uacc-row {
    height: fit-content;
    margin: auto;
    width: 100%;
    float: none;
}

.uacc-light-theme, .uacc-light-title, .uacc-light-dropdown {
    border-color: #bbb;
    background-color: #eee;
    color: #111;
}

.uacc-dark-theme, .uacc-dark-title, .uacc-dark-dropdown {
    border-color: #3F474E;
    background-color: #192028;
    color: #d0d0d0;
}

.uacc-light-title {
    background-color: #bbb;
}

.uacc-dark-title {
    background-color: #3F474E;
}

.uacc-light-dropdown {
    border-bottom: solid 1px #053050 !important;
}

.uacc-light-dropdown:hover {
    background-color: #D7DBDE;
}

.uacc-dark-dropdown {
    border-bottom: solid 1px #f0ad4e !important;
}

.uacc-dark-dropdown:hover {
    background-color: #2F2E2C;
}

.uacc-header {
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.uacc-subheader {
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

.uacc-center {
    text-align: center;
    margin: auto;
}

.uacc-window {
    font-family: Arial, sans-serif;
    width: 350px;
    height: fit-content;
    z-index: 1000;
    right: 25px;
    bottom: 15px;
    position: fixed;
}

.uacc-window > UaccDiv:only-child {
    display: none;
}

.uacc-window > UaccDiv:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.uacc-window > UaccDiv:not(:first-child) {
    border-top-color: transparent;
}

.uacc-window > UaccDiv:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.uacc-alertWrapper {
    width: 350px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    line-height: 1.1;
    padding: 10px;
    text-align: center;
    height: fit-content;
    transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
}

.uacc-fastRemove {
    transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
}

.uacc-hiddenHighlight {
    background-color: transparent;
}

.uacc-popup {
    position: absolute;
    width: 60%;
    height: 10%;
    left: 20%;
    top: 90%;
    background-color: #0F171E;
    color: #d0d0d0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.uacc-buttonFiller {
    height: 5px;
    width: 2%;
    float: left;
}

.uacc-label {
    height: 17px;
    cursor: default;
    font-weight: 700;
    display: block;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
}

.uacc-button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
    color: #efefef;
    border-radius: 5px;
    background-color: #053050;
}

.uacc-button:hover {
    background-color: #204d74;
}

.uacc-button-good {
    background-color: #28a745;
    border-color: #28a745;
}

.uacc-button-good:hover {
    background-color: #189735;
}

.uacc-button-ignore {
    background-color: #6c757d;
    border-color: #6c757d;
}

.uacc-button-ignore:hover {
    background-color: #5c656d;
}

.uacc-button-bad {
    background-color: #bc1525;
    border-color: #bc1525;
}

.uacc-button-bad:hover {
    background-color: #ac0515;
}

.uacc-list > UaccDiv {
    float: left;
}

.uacc-list > UaccDiv:first-child {
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.uacc-list > UaccDiv:last-child {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.uacc-input {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-bottom-width: 1px;
}

.uacc-select {
    padding: 0;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last: center;
    height: 25px;
}

.uacc-radiobox {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
}

.uacc-radiobox UaccDiv {
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #204d74;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
}

.checked UaccDiv {
    opacity: 1;
}

.uacc-clickable {
    cursor: pointer;
}

.uacc-cross {
    right: 5px;
    margin-top: 5px;
    width: 23px;
    height: 21.5px;
    border-radius: 10px;
}

.uacc-cross:hover > UaccDiv {
    background-color: #cc2535;
}

.uacc-cross > UaccDiv {
    background-color: #ac0515;
    transform: rotate(45deg);
}

.uacc-cross > UaccDiv:first-child {
    margin-top: 8px;
    position: absolute;
    width: 20px;
    height: 4px;
}

.uacc-cross > UaccDiv:last-child {
    margin-left: 8px;
    position: absolute;
    height: 20px;
    width: 4px;
}