.uacc-input-row-wrapper {
    width: 95%;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.uacc-input-row-wrapper-solo {
    width: 95%;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.uacc-input-wrapper {
    display: flex;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--uacc-background3);
}

.uacc-input-wrapper-title {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--uacc-title);
}

.uacc-input-wrapper-input {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.uacc-input-wrapper-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--uacc-text);
    opacity: 0.7;
}