.uacc-options-background-wrapper {
    width: 900px;
    margin: auto;
    height: fit-content;
}

.uacc-options-background-section {
    width: 100%;
    background-color: var(--uacc-background2);
    border: 1px solid var(--uacc-ternary);
    margin: 10px auto auto;
    border-radius: 0.5rem;
}

.uacc-options-section-header {
    width: 100%;
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    color: var(--uacc-title);
    text-align: center;
}

.uacc-options-section-header-subtitle {
    width: 100%;
    text-align: center;
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--uacc-text);
    opacity: 0.9;
}

.uacc-section-subtitle {
    width: 100%;
    text-align: center;
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    color: var(--uacc-text);
}