:root {
    --uacc-primary: #F0AD4E;
    --uacc-secondary: #5C656D;
    --uacc-ternary: #444C56;
    --uacc-warning: #EF4444;
    --uacc-text: #CBD5E1;
    --uacc-title: #F8FAFC;
    --uacc-background1: #22272E;
    --uacc-background2: #262A32;
    --uacc-background3: #333B45;
}

#uacc-root,
#uacc-root * {
    box-sizing: border-box;
}

#uacc-root,
#uacc-root button,
#uacc-root input {
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
}

.uacc-gap-1em {
    height: 1rem;
    width: 100%;
}

.uacc-gap-2em {
    height: 2rem;
    width: 100%;
}

.uacc-gap-3em {
    height: 3rem;
    width: 100%;
}

.uacc-hidden {
    display: none;
}
