:root {
    --uacc-primary: #FACC15;
    --uacc-secondary: #22D3EE;
    --uacc-ternary: #374151;
    --uacc-warning: #EF4444;
    --uacc-text: #E5E7EB;
    --uacc-title: #E5E7EB;
    --uacc-background1: #1F2937;
    --uacc-background2: #1F2937;
    --uacc-background3: #1F2937;
}