:root {
    --uacc-primary: #2563EB;
    --uacc-secondary: #334155;
    --uacc-ternary: #1E293B;
    --uacc-warning: #EF4444;
    --uacc-text: #CBD5E1;
    --uacc-title: #F8FAFC;
    --uacc-background1: #0F172A;
    --uacc-background2: #111827;
    --uacc-background3: #1E293B;
}

#uacc-root,
#uacc-root * {
    box-sizing: border-box;
}

#uacc-root,
#uacc-root button,
#uacc-root input {
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
}

.uacc-gap-1em {
    height: 1rem;
    width: 100%;
}

.uacc-gap-2em {
    height: 2rem;
    width: 100%;
}

.uacc-gap-3em {
    height: 3rem;
    width: 100%;
}

.uacc-hidden {
    display: none;
}
