body, input, select {
    background-color: #0F171E !important;
    color: #d0d0d0 !important;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

input, select, .form-control {
    border: solid 1px #2F373E;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 34px;
    height:34px;
    margin: 5px auto;
}

input[type="number"], input[type="text"], option, select {
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last: center;
}

input[type="number"]:hover, input[type="text"]:hover, option:hover, select:hover {
    border: solid 1px #f0ad4e;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}